.about-us-accordion {
  width: 100%; /* Робить блок адаптивним */
  max-width: 320px;
  padding-top: 90px;
  padding-bottom: 50px;
  position: relative;
}

.about-us-accordion__inner {
  width: 100%;
  max-width: 272px;
  padding: 0 24px; /* Скорочення */
}

.about-us-accordion__title {
  font-size: 14px;
  font-family: var(--font-primary); /* Підключення шрифту */
  color: #757171;
  text-align: left;
}

.about-us-accordion__subtitle {
  max-width: 199px;
  font-size: 24px;
  font-family: var(--font-primary);
  color: #333333;
  text-align: left;
  font-weight: 500;
  margin: 5px 0;
}

.about-us-accordion__item {
  width: 100%; /* Адаптивна ширина */
  max-width: 214px;
  padding: 20px 0;
}

.about-us-accordion__header {
  font-size: 18px;
  font-family: var(--font-primary);
  color: #333333;
  text-align: left;
}

.accordion-button.collapsed::after {
  content: '▼'; /* Правильний селектор */
  font-size: 14px;
  margin-left: 8px; /* Додати відступ для іконки */
}

.about-us-accordion__body.accordion-body {
  max-width: 201px;
  font-size: 14px;
  font-family: var(--font-primary);
  color: #858585;
  text-align: left;
}
