.main__container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
}

.store__homepage {
  text-decoration: none;
  color: var(--text);
  font-size: 1rem;
}

.container__main {
  margin-top: 50px;
  display: flex;
}
/* ліва чатина */
.product__gallery {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container__img{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
  max-width: 360px;
  height: auto;
  object-fit: cover;
  margin-bottom: 1rem;
}

.arrow {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  color: var(--text);
  border: none;
  background: none;
  cursor: pointer;
  z-index: 2;
  opacity: 1;
  pointer-events: all; /* Ховає кнопку для кліків, поки вона прихована */
  transition: all 0.3s ease;
}

.arrow.left {
  left: 0px;
  background: none;
}

.arrow.right {
  right: 0px;
  background: none;
}

.container__img:hover .arrow {
  opacity: 1;
  pointer-events: all; /* Робить кнопку клікабельною */
}

.container__img:hover .arrow.left {
  left: 100px; /* Виїжджає ближче до зображення */
}

.container__img:hover .arrow.right {
  right: 100px; /* Виїжджає ближче до зображення */
}

.thumbnail__container {
  display: flex;
  justify-content: start;
  gap: 5px;
}

.thumbnail {
  width: 5.5rem;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  margin: 0 7.25px;
  border: 2px solid var(--gray-color2);
}

.thumbnail.active {
  border: 2px solid var(--accent);
  box-shadow: 0 0 5px var(--accent);
}

.thumbnail:hover {
  border: 2px solid var(--gray-color6);
}

/* початок правої */

.product__details {
  flex: 1;
  padding: 0 15px;
}

.in__stock {
  color: var(--accent);
  margin: 0;
}

.title {
  font-size: 1.375rem;
  margin: 0px;
  font-weight: 550;
}

.product__code {
  font-size: 0.875rem;
  color: var(--gray-color5);
  margin-top: 8px;
}

.price {
  font-size: 1.25rem;
  font-weight: 550;
}

.horizontal__line {
  margin: 50px 0 24px 0;
  opacity: 0.2;
  background-color: var(--gray-color2);
}

.quantity__add {
  display: flex;
}

.input__number {
  width: 75px;
  height: 52px;
  text-align: center;
  font-size: 1rem;
  opacity: 0.7;
  border: 1px solid var(--gray-color2);
  border-radius: 5px;
  caret-color: transparent;
  margin-right: 1rem;
}

.input__number:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--gray-color2);
}

.input__number::-webkit-inner-spin-button,
.input__number::-webkit-outer-spin-button {
  opacity: 1;
  display: inline;
}

.add__to__cart {
  background-color: var(--accent);
  color: var(--text-white);
  border: none;
  font-weight: 600;
  padding: 10px 28px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.add__to__cart:hover {
  background-color: var(--gray-color4);
}

.description {
  font-size: 0.75rem;
  font-weight: 580;
  padding: 0 10px 10px 10px;
  margin: 40px 0 0 0;
}

.horizontal__line__description {
  margin: 0 0 1rem 0;
  opacity: 1;
  border: none;
  height: 2px;
  width: 98.34px;
  background: var(--accent);
}
.horizontal__line__description__after {
  margin: 0 0 1rem 0;
  opacity: 0.2;
  border: none;
  height: 1px;
  width: 471.67px;
  background-color: var(--gray-color2);
  position: relative;
  top: -17px;
  left: 98.34px;
}

.description__info {
  color: var(--gray-color5);
  font-size: 1rem;
  margin: 0;
}
