.collections__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 15px;

  @media only screen and (min-width: 1023px) {
    padding: 100px 15px;
  }
}

.collections__cards {
  @media only screen and (min-width: 1023px) {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: calc(100% + 30px);
    margin-left: calc(30px / -2);
    margin-right: calc(30px / -2);
  }
}

.collections__card {
  width: 100%;

  @media only screen and (min-width: 1023px) {
    width: calc(100% / 3);
    padding: 0 15px;
  }
}

.collections__card + .collections__card {
  @media only screen and (max-width: 1024px) {
    margin-top: 40px;
  }
}

.collection-card {
  display: flex;
  flex-direction: column;
}

.collection-card__image {
  position: relative;
  max-width: 100%;
  height: 100%;
  width: 100%;
  padding-top: 68.11%;
}

.collection-card__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.collection-card__title {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.375rem;
  color: var(--text);
  font-weight: 500;
}

.collection-card__title span {
  color: var(--accent);
  font-weight: 600;
}

.collection-card__action {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: var(--text);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-family: var(--font-secondary), Helvetica, Arial, sans-serif;
  font-weight: 600;
  @media only screen and (min-width: 1023px) {
    margin-top: 40px;
  }
}

.collection-card__action svg {
  width: 24px;
  margin-left: 10px;
}

.collection-card__action:hover span {
  text-decoration: underline;
}
