.contacts {
    padding-bottom: 60px;
}
/* Contacts Container */
.contacts__inner {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}
.contacts__column {
    width: 100%;
    padding: 15px;
    @media (min-width: 1024px){
        width: 50%;
    }

}

/* Contact Form Styling */
.contacts-form {
    background-color: var(--gray-color6);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    @media (min-width: 1024px) {
        padding: 60px;
    }
}

.contacts-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contacts-form p {
    margin-bottom: 20px;
    color: #666;
}

.contacts-form__input,
.contacts-form__textarea {
    width: 100%;
    padding: 20px 30px 20px 30px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 0.875rem;
    resize: none;
}
.contacts-form__textarea {
    min-height: 150px;
    height: 150px;
}

.contact-form input:focus,
.contacts-form__textarea:focus {
    border-color:#7BB67C;
    outline: none;
}

.contacts-form__button {
    width: 100%;
    padding: 12px;
    background-color:#7BB67C;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.contact-form .submit-button:hover {
    background-color: var(--accent: #7BB67C);
}

.contacts-rows {
    width: 100%;
    display: table;
}

.contacts-row {
    display: table-row;
}
.contacts-row + .contacts-row {
    margin-top: 15px;
}

.contacts-row__label,
.contacts-row__info {
    display: table-cell;
    padding-top: 15px;
}

/* Map Styling */
.map-container iframe {
    width: 100%;
    border-radius: 8px;
    border: none;
}

/* Responsive Design */
@media (min-width: 768px) {
    .contacts-container {
        flex-wrap: nowrap;
        gap: 40px;
    }

    .contact-form {
        flex: 2;
    }

    .contact-info {
        flex: 1;
    }
}

@media (min-width: 1024px) {
    .contact-form {
        padding: 30px;
    }

    .contact-info {
        padding: 30px;
    }
}
