.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
    max-width: 1170px;
    margin: 0 auto;
    background-color: var(--text-white);
}

.logo-container img {
    max-width: 120px;
}

.nav-list {
    display: flex; 
    flex-direction: column;
    gap: 10px;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: var(--text);
    font-size: 1rem;
}

.shop-now-button {
    display: block; /* Ensure button is visible */
    padding: 8px 16px;
    border: 1px solid var(--accent);
    border-radius: 4px;
    background-color: var(--text-white);
    color: var(--accent);
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
}

.shop-now-button:hover {
    background-color: var(--accent);
    color: var(--text);
}

/* Larger Screens */
@media (min-width: 768px) {
    .nav-list {
        flex-direction: row;
        gap: 20px;
    }

    .shop-now-button {
        padding: 10px 20px;
    }
}

@media (min-width: 1024px) {
    header {
        padding: 20px 40px;
    }

    .logo-container img {
        max-width: 150px;
    }

    .nav-link {
        font-size: 1.2rem;
    }

    .shop-now-button {
        font-size: 1.1rem;
    }
}