@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@600&display=swap');

@import './global.header.css';

/* * {outline: 1px solid red;} */

:root {
  --accent: #7BB67C;
  --text: #333333;
  --text-white: #FFFFFF;
  --gray-color1: #757171; /*previously was named (gray) */
  --gray-color2: #A9A9A9; /*previously was named (light-gray) */
  --gray-color3: #333333; /*previously was named (dark-gray) */
  --gray-color4: #2C2C2C;
  --gray-color5: #707070;
  --gray-color6: #f7f5f6;
<<<<<<< HEAD
  --gray-color7: #27252847;  /*shadow*/
  --gray-color8: #dddddd;
=======
  --gray-color7: #27252847; /*shadow*/
  --gray-color8: #C6C5C5;
>>>>>>> e73ae49ede8b6ba279220a51f40e5fba92cc450e
  --font-primary: 'Poppins';
  --font-secondary: 'Hind';
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary), Helvetica, Arial, system-ui, -apple-system, sans-serif;
  color: var(--text);

  &.is-overflow-hidden {
    overflow-y: hidden;
  }
}

.out {
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
