.our-finds {
  max-width: 1348px;
  margin: 0 auto;
}
.our-finds__container {
  padding: 40px 0px 50px 0px;
}
.our-finds__container-narrow {
  margin: 0px 74px 0px 74px;
  padding: 0px 15px 0px 15px;
}
.our-finds__header {
  text-align: left;
}
.our-finds__title {
  font-size: 38px;
}
.our-finds__subtitle {
  margin-top: 25px;
  font-size: 18px;
}
.our-finds__products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  }

.our-finds__product__card {
  width: 270px;
  padding: 0px 15px 0px 15px;
  text-align: center;
}
img {
  width: 270px;
  height: 100%;
  object-fit: cover;
}
.our-finds__product__name__place {
  margin-top: 24px;
}
.our-finds__product__name {
  color: var(--text);
  font-size: 20px;
  text-decoration: none;
}
.our-finds__product-price__place{
  margin-top: 16px;
}
.order-button {
  display: inline-block;                
  padding: 10px 20px;                 
  color: var(--gray);                      
  background-color: transparent;       
  border: 2px solid var(--accent);           
  border-radius: 5px;
  font-size: 10.8px;                  
  font-weight: bold;                    
  text-align: center;
  text-transform: uppercase;                  
  cursor: pointer;                     
  transition: background-color 0.3s, color 0.3s; 
  }
.order-button:hover {
  background-color: var(--accent);           
  color: var(--text-white);
}
.our-finds__product-price {
    margin-top: 16px;
    font-size: 20px;
    font-weight: 700;
    min-width: 100%;
    color: var(--accent);
  }
.our-finds__carousel-nav {
  display: inline-flex;
  position: relative;
  min-width: 100%;
  margin-top: 50px;
  max-height: 58.08px;
  cursor: pointer;
  border-bottom: 1px solid var(--light-gray);
}
.our-finds__carousel-place {
  display: flexbox;
  flex-direction: row;
  padding: 15px 20px 15px 20px;
}
.our-finds__carousel-button {
  color: var(--gray);
  display: flexbox;
}
.our-finds__carousel-button:hover {
  display: inline-block;
  color:var(--text);
  border-bottom: 2px solid var(--accent);
}
