.testimonials {
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 24px;
    width:  1285.60px;
    height: 477.83px;
    margin-top: 100px;
    
}
.testimonials-carousel {
    display: flex;
    border-bottom-style: none;
}
.previous-testimonials {
    color: rgba(0, 0, 0, 0);
   width: 36px;
   height: 48px;
}
.testimonials-carousel__title {
    font-size: 30px;
    color: var(--text);
    text-align: center;
}

.testimonails-carousel__subtitle {
    font-size: 18px;
    color: var(--text);
    text-align: center;
}
.testimonials-carousel__slides-img {
    
    slides-container {
        padding-left: 15px;
        padding-right: 15px;   
    }
        testimonials-carousel__slides {
            background-color: #ffffff;
    }
            image {
                width: 70px;
                height: 70px;
            }
}            